.social {
  text-align: left;
  .socialLink, .cv {
    display: inline-flex;
    margin-right: var(--size-3);
    padding: var(--size-1);
    border-radius: var(--size-3);
    background: var(--color-grey-100);
    cursor: pointer;

    svg {
      color: var(--color-grey-800)
    }

    &:hover {
      background: var(--color-grey-200);
    }
  }

  .cv {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    color: var(--color-grey-800);
    span {
      font-size: var(--size-6);
      margin: 0 var(--size-2);
    }
  }
}

.info {
  margin-top: var(--size-2);
  padding: var(--size-1);
  background: var(--color-grey-200);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  transition: 0.2s ease-in-out;
}