.contact {
  width: 90%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  height: 100%;

  h1 {
    font-size: var(--size-8);
    color: var(--color-grey-800);
    text-align: center;
  }

  h2 {
    font-size: var(--size-8);
    color: var(--color-grey-800);
  }

  h3 {
    color: var(--color-grey-800);
    font-size: var(--size-8);
    margin: 10px;
  }
}

.contactSections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .section {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .contact h1 {
    font-size: var(--size-16);
  }

  .contactSections {
    flex-direction: row;
    .section {
      width: calc((100% / 2) - 10px + 10px / 1) ;
    }
  }
}