.title {
  display: flex;
  align-items: center;
  cursor: pointer;

  h2 {
    font-size: var(--size-8);
    color: var(--color-grey-800);
    margin-right: var(--size-4);
    transition: 0.2s ease-in-out;
  }
  i {
    transition: 0.2s ease-in-out;
    transform-origin: center;
  }
}