.element {
  padding: var(--size-3);
  background: var(--color-grey-100);
  border-radius: var(--size-4);
  margin-bottom: var(--size-4);

  h2, h2{
    margin: 0;
  }

  li {
    list-style: disc;
  }
}